

<h1>Deposit accounts:</h1>

<div class="container d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th>IBAN</th>
                <th>Deposit Amount</th>
                <th>Balance</th>
                <th>Client Id</th>
                <th>Interest Rate</th>
                <th>Maturity Rate</th>
                <th>Maturity Date</th>
                <th>Maturity Months</th>
                <th>Self capitalization</th>
                <th>Maturity IBAN</th>
                <th>Start Date</th>
                <th>Status</th>
            </tr>
            <tr>
                <th>Client id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>address</th>
                <th>Birth date</th>
                <th>Phone number</th>
                <th>Email address</th>
                <th>RRN</th>
                <th>Employer name</th>
                <th>Occupation</th>
            </tr>
        </thead>
        <tbody *ngFor="let depositAccount of depositAccountResponse">
            <tr>
                <td>{{depositAccount.iban}}</td>
                <td>{{depositAccount.depositAmount}}</td>
                <td>{{depositAccount.balance}}</td>
                <td>{{depositAccount.individualId}}</td>
                <td>{{depositAccount.interestRate}}</td>
                <td>{{depositAccount.maturityRate}}</td>
                <td>{{depositAccount.maturityDate}}</td>
                <td>{{depositAccount.maturityMonths}}</td>
                <td>{{depositAccount.selfCapitalization}}</td>
                <td>{{depositAccount.maturityIban}}</td>
                <td>{{depositAccount.startDate | date: 'dd:MM:yyyy'}}</td>
                <td>{{depositAccount.status}}</td>
            </tr>
            <tr>
                <td>{{depositAccount.individualDTO.id}}</td>
                <td>{{depositAccount.individualDTO.firstName}}</td>
                <td>{{depositAccount.individualDTO.lastName}}</td>
                <td>{{depositAccount.individualDTO.address}}</td>
                <td>{{depositAccount.individualDTO.birthDate | date: 'dd:MM:yyyy'}}</td>
                <td>{{depositAccount.individualDTO.phoneNumber}}</td>
                <td>{{depositAccount.individualDTO.emailAddress}}</td>
                <td>{{depositAccount.individualDTO.rrn}}</td>
                <td>{{depositAccount.individualDTO.employerName}}</td>
                <td>{{depositAccount.individualDTO.occupation}}</td>
            </tr>
        </tbody>
    </table>

</div>
