

<h1>Loan accounts:</h1>

<div class="container d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th>Loan IBAN</th>
                <th>Amount</th>
                <th>Client id</th>
                <th>Period</th>
                <th>Interest Rate</th>
                <th>Start Date</th>
                <th>Loan status</th>
                <th>Principal</th>
            </tr>
            <tr>
                <th>Client Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Address</th>
                <th>Birth date</th>
                <th>Phone number</th>
                <th>Email address</th>
                <th>RRN</th>
                <th>Employer name</th>
                <th>Occupation</th>
            </tr>
        </thead>
        <tbody *ngFor="let loanAccount of loanAccountResponse">
            <tr>
                <td>{{loanAccount.iban}}</td>
                <td>{{loanAccount.loanAmount}}</td>
                <td>{{loanAccount.individualId}}</td>
                <td>{{loanAccount.period}}</td>
                <td>{{loanAccount.interestRate}}</td>
                <td>{{loanAccount.startDate | date: 'dd:MM:yyyy'}}</td>
                <td>{{loanAccount.loanStatus}}</td>
                <td>{{loanAccount.principal}}</td>
            </tr>
            <tr>
                <td>{{loanAccount.individualDTO.id}}</td>
                <td>{{loanAccount.individualDTO.firstName}}</td>
                <td>{{loanAccount.individualDTO.lastName}}</td>
                <td>{{loanAccount.individualDTO.address}}</td>
                <td>{{loanAccount.individualDTO.birthDate | date: 'dd:MM:yyyy'}}</td>
                <td>{{loanAccount.individualDTO.phoneNumber}}</td>
                <td>{{loanAccount.individualDTO.emailAddress}}</td>
                <td>{{loanAccount.individualDTO.rrn}}</td>
                <td>{{loanAccount.individualDTO.employerName}}</td>
                <td>{{loanAccount.individualDTO.occupation}}</td>
            </tr>
        </tbody>
    </table>
</div>
