<h1> Welcome !</h1>

<div class="container">

Welcome {{name}} to Banking App (we can take all your money !) <br> <br>

You can make all your payments from this app without any worry that you will ever find them

</div>

<br>

<div class="container">

    <div class="my-2">
        Click here to get all your current accounts
        <button class="btn btn-success">Current accounts</button>
    </div>

    <div class="my-2">
        Click here to get all your debit accounts
        <button class="btn btn-success">Debit accounts</button>
    </div>

    <div class="my-2">
        Click here to get all your loan accounts
        <button class="btn btn-success">Loan accounts</button>
    </div>
</div>


